.wpl-button a,
.wpl-button a:hover,
#wrapper div.sharing a,
#wrapper div.sharing a:hover {
	border: none;
}
#wrapper .share-custom a.sharing-anchor,
#wrapper .sharing-hidden a {
	color: #666;
}
.widget_twitter ul {
	margin-top: 8px;
}
.widget_twitter ul li {
	padding: 8px 0 4px;
}
#sidebar .widget_twitter ul a {
	opacity: 0.6;
	display: inline;
	background-image: none;
	padding-left: 0;
}
#sidebar .widget_twitter ul a:hover {
	background-image: none;
}
#sidebar .widget_twitter ul .timesince {
	font-size: 11px;
	margin-left: 20px;
	display: block;
}
.widget_twitter ul a:hover {
	opacity: 1;
}
.widget #flickr_badge_uber_wrapper {
	width: 100%;
}
.widget #flickr_badge_wrapper {
	background: none;
	border: none;
	width: 100%;
}
.widget #flickr_badge_wrapper td {
	text-align: center;
}
.widget #flickr_badge_wrapper img {
	display: block;
	margin: 0 auto;
	max-width: 250px;
}